@switch (question().type) {
  @case ('TEXT') {
    <app-text-question
      [question]="question()"
      [index]="index()"
      [value]="stringValue()"
      [invalid]="showError()"
      [disabled]="disabled()"
      (valueChange)="setValue($event)"
      (touched)="markTouched()"
    />
  }
  @case ('TEXTAREA') {
    <app-textarea-question
      [question]="question()"
      [index]="index()"
      [value]="stringValue()"
      [invalid]="showError()"
      [disabled]="disabled()"
      (valueChange)="setValue($event)"
      (touched)="markTouched()"
    />
  }
  @case ('NUMBER') {
    <app-number-question
      [question]="question()"
      [index]="index()"
      [value]="numberValue()"
      [invalid]="showError()"
      [disabled]="disabled()"
      (valueChange)="setValue($event)"
      (touched)="markTouched()"
    />
  }
  @case ('SINGLE_CHOICE') {
    <app-single-choice-question
      [question]="question()"
      [index]="index()"
      [value]="stringValue()"
      [invalid]="showError()"
      [disabled]="disabled()"
      (valueChange)="setValue($event)"
      (touched)="markTouched()"
    />
  }
  @case ('MULTIPLE_CHOICE') {
    <app-multiple-choice-question
      [question]="question()"
      [index]="index()"
      [value]="selectedOptions()"
      [invalid]="showError()"
      [disabled]="disabled()"
      (valueChange)="setValue($event)"
      (touched)="markTouched()"
    />
  }
  @case ('RATING') {
    <app-rating-question
      [question]="question()"
      [index]="index()"
      [value]="numberValue()"
      [invalid]="showError()"
      [disabled]="disabled()"
      (valueChange)="setValue($event)"
      (touched)="markTouched()"
    />
  }
  @case ('DATE') {
    <app-date-question
      [question]="question()"
      [index]="index()"
      [value]="stringValue()"
      [invalid]="showError()"
      [disabled]="disabled()"
      (valueChange)="setValue($event)"
      (touched)="markTouched()"
    />
  }
}
